html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Multicolore', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
}

.square {
    border: 1px solid black;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}

.title {
    margin-bottom: 40px;
    font-size: 55px;
}

.result {
    margin-top: 40px;
    font-size: 40px;
    color: green;
    height: 46.4px;
}